@keyframes sway0 {
    0%,100%{ transform: rotate(-4deg);}
    50%{ transform: rotate(4deg); }
}

body{
    margin: 0px;
    overflow: hidden;
}
#gameContainer{
    position: absolute;
    width: 100%;
    height: 100%;
}

.progress {
    position: absolute;
    display: flex;
    margin-right: 50px;
    margin-left: 50px;
    height: 20px;
    bottom: 50%;
    right: 0;
    left: 0;
}

.bar{
    height: inherit;
}

.bar-img-cont{
    float: right;
    transform: translateX(50%) translateY(-40%) scale(0.3);
}
.bar-img{
    animation: sway0 3s infinite;
    transform-origin: 50% 50%;
}

.progress .full{
    background-color: white;
}
.progress .empty{
    background-color: red;
}